[submodule "VoteTrackerPlus"]
        branch = main
	path = VoteTrackerPlus
	url = git@github.com:TrustTheVote-Project/VoteTrackerPlus.git
[submodule "VTP-web-api"]
        branch = main
	path = VTP-web-api
	url = git@github.com:TrustTheVote-Project/VTP-web-api.git
