[submodule "VoteTrackerPlus"]
        branch = main
	path = VoteTrackerPlus
	url = git@github.com:TrustTheVote-Project/VoteTrackerPlus.git
[submodule "VTP-web-api"]
        branch = main
	path = VTP-web-api
	url = git@github.com:TrustTheVote-Project/VTP-web-api.git
[submodule "VTP-mock-election.US.15"]
        branch = main
	path = VTP-mock-election.US.15
	url = git@github.com:TrustTheVote-Project/VTP-mock-election.US.15.git
[submodule "VTP-web-client"]
        branch = main
	path = VTP-web-client
	url = git@github.com:TrustTheVote-Project/VTP-web-client.git
