[submodule "VoteTrackerPlus"]
        branch = feature/milestone4
	path = VoteTrackerPlus
        update = merge
	url = git@github.com:TrustTheVote-Project/VoteTrackerPlus.git
[submodule "VTP-web-api"]
        branch = feature/milestone4
	path = VTP-web-api
        update = merge
	url = git@github.com:TrustTheVote-Project/VTP-web-api.git
[submodule "VTP-web-client"]
        branch = feature/milestone4
	path = VTP-web-client
        update = merge
	url = git@github.com:TrustTheVote-Project/VTP-web-client.git
[submodule "VTP-mock-election.US.16"]
        branch = main
	path = VTP-mock-election.US.16
        update = merge
	url = git@github.com:TrustTheVote-Project/VTP-mock-election.US.16.git
